# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# ASP.NET Core
**/bin/
**/obj/
**/*.user
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/

# Sensitive config
**/appsettings.json
**/appsettings.Development.json

# React
**/node_modules/
**/dist/
dist-ssr
*.local
**/.env

# Certificates
*.pem
*.key

# Explicitly allow GitHub Actions
!.github/
!.github/**